/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* start of my css */
h1 {
    background: url(https://images.unsplash.com/photo-1545546338-74d4355c2f01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MzY4Njc1MXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60) center/cover no-repeat;

    height: 200px;
    background-position: 25% 75%;
    font-size: 40px;
    color: #1d3557;
    border-radius: 1rem;
    margin-bottom: 10px;
}

nav {
    border-radius: 2rem;
    margin-bottom: 10px;

}

.navbar-toggler {
    margin: 0 15px;
}

li {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#time {
    background-color: #a2d2ff;
    border-radius: 10px;
}

#time h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

#resform {
    background-color: #a2d2ff;
    border-radius: 10px;
}

#resform h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#time li {
    text-align: justify;
}

#button {
    margin: 10px auto;
}

.name,
.address,
.city,
.zip,
.hours,
.comment {
    margin-top: 10px;
}

@media (max-width: 768px) {

    #resform {
        margin-top: 10px;
    }
}
